html,body,div, ul,li,img, input, label
{
margin: 0;
padding: 0;
}

body{
	ul{
		list-style: none;
		margin: 10px 20px;
		li{
			display: inline-block;
			margin: 2px;

			label{
				cursor: pointer;
				&:hover{
					opacity: 0.4;
					& > img{
					border: 1px solid black;
					}
				}
			}

			& > img{
				display: none;
			}

			input[type="radio"]:checked + img{
				position: absolute;
				display: block;
				top: 90px;
				left: 20px;
			}			
		}
	}
}
